/**** KEYFRAME COEUR ****/
@keyframes heart-full {
  0% {
    transform: scale(0);
  }
  90% {
    transform: scale(1.08);
  }
  100% {
    transform: scale(1);
  }
}
/***** BODY *****/
body {
  max-width: 767px;
  margin: 0px;
  padding: 0px;
  font-family: "Roboto";
  font-size: 15px;
}

h1 {
  font-size: 20px;
  font-weight: bold;
}

h2 {
  font-size: 20px;
  font-weight: bold;
}

h3 {
  font-size: 15px;
  font-weight: bold;
}

h4 {
  font-size: 16px;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: black;
}

/***** HEADER *****/
#header {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 2;
  box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.2);
}
#header img {
  margin: 15px;
  width: 130px;
}
#header .fa-arrow-left {
  font-size: 18px;
  color: #353535;
  position: absolute;
  top: 20px;
  left: 20px;
}

/***** RECHERCHE ******/
.search {
  width: 100%;
  border: none;
  background-color: #EAEAEA;
  margin: 0px;
  padding: 12px;
}

input.text {
  font-family: FontAwesome, "Roboto";
  text-decoration: inherit;
  text-align: center;
  font-weight: bold;
}

/***** TITRE *****/
.title {
  background-color: #F6F6F6;
  text-align: center;
  padding: 15px 10px 30px 10px;
}
.title h1 {
  font-size: 20px;
  font-weight: bold;
  margin-inline: 40px;
}

/***** BOUTON *****/
button {
  border: none;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: #FFFFFF;
  padding: 15px 20px 15px 20px;
  margin: 10px;
  border-radius: 30px;
  font-size: 13px;
  font-weight: bold;
  box-shadow: 1px 4px 8px 0px rgba(0, 0, 0, 0.3);
}
button:hover {
  cursor: pointer;
  background: linear-gradient(to bottom right, #985ede, #ff83dd);
  box-shadow: 1px 4px 8px 0px rgba(0, 0, 0, 0.5);
}

/***** FONCTIONNEMENT *****/
.functioning {
  display: flex;
  flex-direction: column;
  padding: 8px;
  margin: 20px 0px 25px 0px;
}
.functioning h2 {
  padding: 10px 10px 10px 10px;
  margin: 0px;
}
.functioning a {
  width: 230px;
}

.group-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
}

.box {
  display: flex;
  flex-direction: row;
  background-color: #F6F6F6;
  border-radius: 20px;
  box-shadow: 1px 4px 8px 0px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 15px 5px 5px 20px;
  align-items: baseline;
}
.box .fas {
  color: #7E7E7E;
  width: 15px;
}
.box:hover {
  background-color: #f4eefc;
}
.box:hover .fas {
  color: #9356DC;
}

.number {
  color: #FFFFFF;
  font-size: 11px;
  background-color: #9356DC;
  position: relative;
  padding: 4px 7px 3px 7px;
  left: -30px;
  border-radius: 50%;
}

.explication {
  margin-left: 15px;
  font-size: 13px;
  font-weight: bold;
}

/**** RESTAURANT ****/
#restaurants {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  padding: 35px 0px 40px 0px;
}
#restaurants h2 {
  margin: 10px 10px 0px 20px;
}

.card {
  background-color: white;
  border-radius: 15px;
  box-shadow: 1px 4px 8px 0px rgba(0, 0, 0, 0.2);
  margin: 20px;
  height: 210px;
  position: relative;
}
.card img {
  width: 100%;
  height: 65%;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}
.card .description {
  height: 35%;
  line-height: 5px;
  margin: 5px 10px 5px 10px;
}
.card .fa-heart {
  font-size: 24px;
  position: absolute;
  bottom: 30px;
  right: 30px;
}
.card .far {
  z-index: 2;
  opacity: 1;
  transition: opacity 0.6s ease-in-out;
}
.card .far:hover {
  opacity: 0;
}
.card .far:hover + .fas {
  opacity: 1;
  animation: heart-full 0.4s linear both;
}
.card .fas {
  background: linear-gradient(63deg, #FF79DA 0%, #9356DC 100%);
  background-clip: content-box;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  opacity: 0;
  z-index: 1;
  transform-origin: 50% bottom;
  transform: scale(1);
  animation: transform 0.4s cubic-bezier(0.43, 0.21, 1, 0.45);
}

/***** NOUVEAU *****/
.new {
  color: #008766;
  background-color: #99E2D0;
  width: 60px;
  padding: 5px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  border-radius: 2px;
  position: absolute;
  top: 10px;
  right: 10px;
}

/***** FOOTER *****/
#footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
#footer a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 12px;
  line-height: 22px;
}
#footer div {
  display: flex;
  flex-direction: column;
}
#footer .text-logo {
  color: #FFFFFF;
  font-size: 16px;
  font-family: "Shrikhand", cursive;
  padding-bottom: 10px;
  width: 100px;
}
#footer .fa-utensils {
  height: 15px;
  width: 15px;
}

/**** LOADING SPINNER ****/
.spinner-box {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  animation: bounce 1.6s ease-in-out both;
  animation-delay: 3.5s;
}
.spinner-box .load {
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner-box .load p {
  color: #9356DC;
  font-size: 40px;
  font-family: "Shrikhand", cursive;
}

/***** KEYFRAME LOADING *****/
@keyframes bounce {
  to {
    transform: translate3d(0, -4rem, 0);
    color: #FF79DA;
    opacity: 0;
    visibility: hidden;
  }
}
.O {
  animation: bounce 1.6s ease 0.2s infinite alternate;
}

.h {
  animation: bounce 1.6s ease 0.4s infinite alternate;
}

.m {
  animation: bounce 1.6s ease 0.6s infinite alternate;
}

.y {
  animation: bounce 1.6s ease 0.8s infinite alternate;
}

.f {
  animation: bounce 1.6s ease 1s infinite alternate;
}

.o {
  animation: bounce 1.6s ease 1.2s infinite alternate;
}

.o-2 {
  animation: bounce 1.6s ease 1.4s infinite alternate;
}

.d {
  animation: bounce 1.6s ease 1.6s infinite alternate;
}

/*# sourceMappingURL=acceuil.css.map */
