/***** RECHERCHE ******/
.search{
    width: 100%;
    border: none;
    background-color: $bg-search;
    margin: 0px;
    padding: 12px;
}
  
input.text{
    font-family: FontAwesome, 'Roboto';
    text-decoration: inherit;
    text-align: center;
    font-weight: bold;
}