/***** BODY *****/
body{
    max-width: 767px;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto';
    font-size: 15px;
    @media screen and (min-width: 810px) and (max-width: 1023px){ 
        max-width: 100%; 
    }
    @media screen and (min-width: 1024px){ 
        max-width: 100%;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
}
h1{
    font-size: 20px;
    font-weight: bold;
}
h2{
    font-size: 20px;
    font-weight: bold;
}
h3{
    font-size: 15px;
    font-weight: bold;
}
h4{
    font-size: 16px;
    font-weight: bold;
}
a{
    text-decoration: none;
    color: black; 
}
