/***** BODY *****/
body{
    max-width: 767px;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto';
    font-size: 15px;
  }
  h1{
    font-size: 20px;
    font-weight: bold;
  }
  h2{
    font-size: 20px;
    font-weight: bold;
  }