#header{
    display: flex;
    justify-content: center;
    img {
        margin: 15px;
    }
    .fa-arrow-left{
        font-size: 18px;
        color: #353535;
        position: absolute;
        top: 20px;
        left: 20px;
      }      
}

